<div class="main">
  <h1>{{ title }}</h1>
  <div [formGroup]="filterForm" class="form">
    <label for="filterInput">Filter by Name:</label>
    <input
      id="filterInput"
      formControlName="filterValue"
      (input)="onFilterChange()"
    />

    <label for="genderSelect">Gender:</label>
    <select
      id="genderSelect"
      formControlName="gender"
      (change)="onFilterChange()"
    >
      <option value="">All</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>

    <label for="domainSelect">Domain:</label>
    <select
      id="domain"
      formControlName="domain"
      (change)="onFilterChange()"
    >
      <option value="">All</option>
      <option value="Sales">Sales</option>
      <option value="IT">IT</option>
      <option value="Business Development">Business Development</option>
      <option value="Marketing">Marketing</option>
      <option value="Finance">Finance</option>
      
    </select>

    <label for="genderSelect">Available:</label>
    <select
      id="available"
      formControlName="available"
      (change)="onFilterChange()"
    >
      <option value="">All</option>
      <option value="true">True</option>
      <option value="false">False</option>
    </select>

    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="getTotalPages()"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
    <button mat-button (click)="openDialog()">View Teams</button>
  </div>

  <div class="dashboard">
    <div class="card" *ngFor="let data of getPaginatedData()">
      <div class="name">
        <img src="{{ data.avatar }}" alt="data.first_name" />
        <p>{{ data.first_name }} {{ data.last_name }}</p>
      </div>
      <div class="details">
        <p>Email: {{ data.email }}</p>
        <p>Gender: {{ data.gender }}</p>
        <p>Available: {{ data.available ? "yes":"no" }} </p>
        <p>Domain: {{ data.domain }}</p>
      </div>
      <button (click)="onSelectData(data)" [disabled]="!data.available" class="add-btn">
        Add
      </button>
    </div>
  </div>
</div>
